@media (max-width : 786px) {
    .herosection {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
    }
    .companies-logo-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .companies-logo-div {
        width: 40%;
        margin-bottom: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .service-container {
        flex-direction: column;
        margin-left: 10px;
    }
    .custom-cards {
        flex-direction: column;
        align-items: center;
    }
    .card-responsive {
        margin-top: 30px;
    }
    .contact-container {
        display:flex ;
        flex-wrap: wrap;
        align-items: center;
        gap: 50px;
    }
    .footer-logo {
        width: 80px;
    }
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
    }
    .footer-left {
        margin-left: -15px;
    }

}