*/ {
    padding: 0%;
    margin: 0%;
}
.font-style-1 {
    font-family: "Playfair Display", serif !important;
}
.primary {
    color: #4CAF4F;
}
.secondary {
    color: #4D4D4D;
}
/* header */
.header-logo {
    width: 100%;
}
.header-logo-div {
    width: 70px;
}
.dropdown {
    display: none;
}
.nav-link {
    font-family: "Playfair Display", serif !important;
    font-weight: bold !important;
    font-size: 20px !important;
}
.custom-btn {
    font-family: "Playfair Display", serif !important;
    border: 2px solid #4CAF4F !important;
    background-color: #4CAF4F !important;
    color: white !important ;
    width: 200px !important;
}
.custom-nav {
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75) !important;
}
/* header */
/* Herosectioin */
.herosection {
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    background-color: #F5F7FA;
    padding-top: 100px;
    padding-bottom: 100px;
}
/* Herosection */
.working-with {
    text-align: center;
}
.companies-logo {
    width: 100%;
}
.companies-logo-div {
    width: 100px;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow:  -1px 2px 27px -6px rgba(0,0,0,0.75);
}
.companies-logo-container {
    display: flex;
    justify-content: space-around;
}
.carousel-custom {
    margin-top: 40px;
    border-radius: 10px;
}
.center {
    text-align: center;
}
.service-logo-div {
    width: 100px;
}
.service-container {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
}
.about-para {
    padding: 10px 20px;
    font-weight: bold;
}
.About {
    background-color: #F5F7FA;
}
.middle-img {
    width: 80%;
    margin: 20px auto;
}
.middle-img > img {
    width: 100%;
    border-radius: 10px;
}
.custom-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer-container {
    display: flex;
    justify-content: space-around ;
    background-color: #263238;
    color: white;
    padding: 20px;
}
.footer-left > img {
    width: 150px;
}
.subscribe-box-input {
    background-color: #1e2529;
}
.subscribe-button {
    background-color: #1e2529;
}
.text-none {
    text-decoration: none;
    color: #F5F7FA;
}